.Message {
    margin-bottom: 5px;
}

.MessageImage {
    width: 50px;
    height: 50px;
}

.MessageUsername {
    font-weight: 600;
}

.MessageBody {
}
.card{
    border: 0px;
}

.card-body {
    padding: 1% !important;
    background-color: lightblue;
    border-radius: 20px;
    width: 70%;
}
.card-body-yours {
    margin-left: auto;
    margin-right: 0;
    padding: 1% !important;
    background-color: dodgerblue;
    border-radius: 20px;
    width: 70%;
}
