.Message {
    margin-bottom: 5px;
}

.MessageImage {
    width: 50px;
    height: 50px;
}

.MessageUsername {
    font-weight: 600;
}

.MessageBody {

}
.card-body.users {
    padding: 1% !important;
    background-color:none;
}
